{% extends "taskmanager/layout.html" %}


{% block body %}
    <header>
        <h1>What would you like to do today?</h1>
        <span>{{ currentDate }}</span>
    </header>
    <article>
        <section>
            {% if tasks %}
                <section>
                    <ul>
                        {% for task in tasks %}
                            <li>
                                {{ task }}
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% else %}
                <span>No tasks yet. Go add some!</span>
            {% endif %}
        </section>
        <section>
            <form action="/" method="POST">
                {% csrf_token %}

                {{ form }}
                <label for="submit">Submit!</label>
                <input type="submit" name="submit">
            </form>
        </section>
    </article>
{% endblock %}